asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==4.2.8
djangorestframework==3.14.0
GDAL @ file:///C:/Users/micha/PycharmProjects/RAKT_foodtrucks/RAKT_project/GDAL-3.3.3-cp39-cp39-win_amd64.whl
idna==3.6
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing-extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
